*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
}
a{text-decoration: none;}

/*Declaring css variable */
:root{
    --primary-color:#25ced1;
    --primary-color-dark:#204c4d;
    --primary-orange:#ff8a5b;
    --darker-gray:#f4f4f4;
}

/************************* Navigation *************** */
.nav-bar{
    padding: 15px 0;
    box-shadow: 0px 10px 40px #ccc;
    margin-bottom: 7px;
}


.nav-contents{
    max-width: 1140px;
    margin: 0 auto;
   
}

.nav-contents::after{
    content: "";
    clear:left;
    display: table;
}

.nav-content{
    float: left;
}
.nav-brand-group{

}
.nav-brand-group a{
    font-weight: 600;
    color: #000;
}

.nav-menu-group{
    width: 70%;
    margin-top: 12px;
    text-align: center;
}

.nav-content .nav-list .nav-list-item{
    display: inline-block;
    margin-right: 15px;
   
}
.nav-content .nav-list .nav-link:link,
.nav-content .nav-list .nav-link:active,
.nav-content .nav-list .nav-link:visited{
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}

.nav-content .nav-list .nav-link:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}

.nav-content .nav-list .active-link{
    /*Using css variable */
    color: var(--primary-color) !important;
}
.cta-btn-group{
    margin-top: 12px;
}

.nav-content .nav-logo{
    height: 50px;
    vertical-align: middle;
}
.nav-content .brand-name{
    /* text-decoration: none;
    color: #000; */
}

/*************************************Buttons*************** */
.btn{
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 7px;
    transition: all .3s;
}
 
.btn.btn-half{
    border: 2px solid var(--primary-orange);
    color: var(--primary-orange);
}

.btn.btn-half:hover{
    background-color: var(--primary-orange);
    color: #fff;
} 

.btn.btn-full{
    color: #fff;
    border: 2px solid transparent;
}
.btn.btn-orange{
    background-color: var(--primary-orange);
    
}
.btn.btn-blue{
    background-color: var(--primary-color);
}
.btn.btn-orange:hover{
    border-color: var(--primary-orange);
    background-color: transparent;
    color: var(--primary-orange);
}
.contact-btn-group{
    float: right;
    margin-top: -50px;
}

/*********************************** Hero Section ******************/
.hero-container{
    background-color: var(--darker-gray);
    height: 90vh;
    padding: 100px 0;
}


.hero-text-box p{
    margin-bottom: 30px;
    color: #757171;
}

.heading-primary{
    line-height: 60px;
    font-size: 50px;
    margin: 20px 0;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--primary-color-dark) 20%, var(--primary-color));
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.heading-secondary{
    font-weight: 600;
    font-size: 20px;
}

.hero-img-container{
    background-image: linear-gradient(to right, var(--primary-color)30%, var(--primary-color-dark));
    height: 450px;
    width: 450px;
    border-radius: 100%;
    padding-top: 30px;
    overflow: hidden;
}

.hero-img-container img{
    height: 500px;
}

/*********************************** Reusable component ******************/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}


.row [class^='col-']{
    float: left;
}

.row [class^="col-"]:not(:last-child){
    margin-right: 40px;
}

.col-1-of-2{
    width: calc((100% - 40px) / 2);
}

.col-1-of-3{
    width: calc((100% - (40px * 2)) / 3);
}
.col-1-of-4{
    width: calc((100% - (40px * 3)) / 4);
}

/*********************************** Utility Classes ******************/
.u-margin-bottom-sm{ margin-bottom: 40px; }
.u-margin-bottom-md{ margin-bottom: 60px; }
.u-center-text{ text-align: center; }

/*********************************** Headings ******************/
.section-heading h3{
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: 25px;
}
.section-heading h2{
    font-weight:bold;
    font-size: 30px;
}

/*********************************** Section Steps ******************/

.section-steps{
    padding: 100px 0;
}

.steps-container{

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 1140px;
    padding: 50px 80px;
    margin: 0 auto;
    border-radius: 5px;
}
.steps{
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 7px;
    text-align: center;
}
.steps h3{
    margin: 15px 0;
    color: #2b2a2a;
}
.steps-circle{
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--darker-gray);
    text-align: center;
 
}
.steps-circle i{
    font-size: 25px;
    color: var(--primary-color);
}

/*********************************** Section About ******************/
.section-about{
    background-color: var(--darker-gray);
    padding: 100px 0;
}

.about-img-box{
    position: relative;
    height: 400px;
}
.about-text-box{
  
    padding: 0 50px;
}

.about-round{
    height: 400px;
    width: 400px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 80px;
    position: absolute;
    background-image: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
}

 .about-img{
    height: 400px;
    left: 60px;
    top: -50px;
    position: absolute;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
 }

 .statistics-container{
    margin-top: 50px;
 }

 .statistics{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 110px;
    padding: 20px 0;
    text-align: center;
    border-radius: 7px;
    float: left;
    margin-right: 30px;
 }

.statistics h1{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

.statistics span{
    font-weight: bold;
}


/*********************************** Section Top Rated Doctors ******************/
.section-top-doctors{
    padding: 100px 0;
}

.doctor-card{
    padding: 22px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.doctor-figure{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}
.doctor-figure img{
    height: 100%;
    width: 100%;
}

.doctor-card h2{
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 20px;
}
.doctor-card p{
    color: var(--primary-color);
    margin-bottom: 5px;
}
.doctor-rating{ margin-bottom: 35px;}
.doctor-rating i{
    color: var(--primary-orange);
    font-size: 10px;
}

/*********************************** Section Testimonial ******************/
.section-testimonial{
    background-color: var(--darker-gray);
    padding: 100px 0;
}

.testimonial{
    background-color: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0,0, 0, 0.2);
    clear: both;
    display: table;
   
}


.testimonial-figure{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}
.testimonial-text{
    float: right;
    width: 230px;
    margin-left: 10px;
}
.testimonial-figure img{
    height: 100%;
    width: 100%;
}
.testimonial-text h2{
    color: #2e2d2d;
    font-size: 14px;
}

.testimonial-text span{
    color: var(--primary-color);
    font-size: 14px;
}

.testimonial-ratings i{
    color:  var(--primary-orange);
    font-size: 12px;
}

.testimonial-text p{
    color: #2e2d2d;
    margin-top: 15px;
    font-size: 14px;
}

/*********************************** Section Contact Us ******************/
.section-contact{
    padding: 100px 0;
}

.contact-box{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/doctor-5.jpg');
   background-size: cover;
    border-radius: 5px;
    height: 350px;
    padding: 100px 70px;
}
.contact-heading span{
    display: block;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 20px;
}

.contact-heading span:nth-child(1){
    color: var(--primary-color);
}

.contact-heading span:nth-child(2){
   font-weight: bold;
}
/* *********************************** Section Blog ******************/ 
.section-blog{
    padding: 100px 0;
}

.blog{
    background-color:#fff;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(0,0, 0, 0.1);
    overflow: hidden;
}
.blog-figure{
    height: 210px;
    overflow: hidden;
}

.blog-figure img{
    height: 100%;
    width: 100%;
}

.blog-text{
    padding: 30px;
}

.blog-text span{
    font-size: 16px;
    color: #757171;
}

.blog-text h2{
    font-size: 25px;
    margin: 12px 0; 
}

.blog-text p{
    font-size: 16px;
    color: #757171;
    margin-bottom: 12px;
}

.blog-text a{
    font-size: 16px;
    color: var(--primary-orange);
    margin-bottom: 12px;
    text-transform: uppercase;
}



